.BusRoute {
  display: inline-block;
}

button {
  font: inherit;
  border: 1px solid #515151;
  padding: 8px;
  cursor: pointer;
  margin-left: -1px;
}

button:hover {
  background-color: #e9e9ed;
}
