h2 {
  margin: 0.2em;
}

h3,
h4,
h5,
h6 {
  overflow: hidden;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
}

h3 {
  color: #5a5050;
  font-size: 1em;
}

h4 {
  padding: 2px;
}

h5 {
  text-align: left;
  padding: 1px 1px 1px;
}

h6 {
  color: #505000;
  font-size: 0.9em;
  font-family: helvetica;
}

table {
  border-collapse: collapse;
}

td {
  border: 1px solid #777;
  padding: 6px;
}
